
<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">

        <div class="owl-carousel testimonial-carousel position-relative wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item text-center">
                <div  class="testimonial-text bg-light text-center p-4 mb-4">
                    <p class="mb-0">"Taut Secure exceeded my expectations with their services. Highly satisfied. I Highly recommend their services!"</p>
                </div>
                <img class="bg-light rounded-circle p-2 mx-auto mb-2" src="./images/user.png" style="width: 80px; height: 80px;">
                <div class="mb-2">
                    <small class="fa fa-star icon"></small>
                    <small class="fa fa-star icon"></small>
                    <small class="fa fa-star icon"></small>
                    <small class="fa fa-star icon"></small>
                    <small class="fa fa-star icon"></small>
                </div>
                <h5 class="mb-1">Bilal Ahmed</h5>
                <p class="m-0">Satisfied Customer</p>
            </div>
            <div class="testimonial-item text-center">
                <div class="testimonial-text bg-light text-center p-4 mb-4">
                    <p class="mb-0">"The service was outstanding, the products appeared to be well-made, and the installation was handled by a competent and skilled expert."</p>
                </div>
                <img class="bg-light rounded-circle p-2 mx-auto mb-2" src="./images/user.png" style="width: 80px; height: 80px;">
                <div class="mb-2">
                    <small class="fa fa-star icon"></small>
                    <small class="fa fa-star icon"></small>
                    <small class="fa fa-star icon"></small>
                    <small class="fa fa-star icon"></small>
                    <small class="fa fa-star icon"></small>
                </div>
                <h5 class="mb-1">Fahad Muhammed</h5>
                <p class="m-0">Satisfied Customer</p>
            </div>
            <div class="testimonial-item text-center">
                <div class="testimonial-text bg-light text-center p-4 mb-4">
                    <p class="mb-0">"Great feeling to have made the right choice selecting Taut Secure Security Professionals for security system activation. I highly recommend."</p>
                </div>
                <img class="bg-light rounded-circle p-2 mx-auto mb-2" src="./images/user.png" style="width: 80px; height: 80px;">
                <div class="mb-2">
                    <small class="fa fa-star icon"></small>
                    <small class="fa fa-star icon"></small>
                    <small class="fa fa-star icon"></small>
                    <small class="fa fa-star icon"></small>
                    <small class="fa fa-star icon"></small>
                </div>
                <h5 class="mb-1">Fairoz</h5>
                <p class="m-0">Satisfied Customer</p>
            </div>
            <div class="testimonial-item text-center">
                <div class="testimonial-text bg-light text-center p-4 mb-4">
                    <p class="mb-0">"I couldn't be happier with the level of professionalism displayed by Taut Secure. Their expertise and attention to detail made me feel confident in my choice. Highly recommend their services!"</p>
                </div>
                <img class="bg-light rounded-circle p-2 mx-auto mb-2" src="./images/user.png" style="width: 80px; height: 80px;">
                <div class="mb-2">
                    <small class="fa fa-star icon"></small>
                    <small class="fa fa-star icon"></small>
                    <small class="fa fa-star icon"></small>
                    <small class="fa fa-star icon"></small>
                    <small class="fa fa-star icon"></small>
                </div>
                <h5 class="mb-1">Ahmed Hassan</h5>
                <p class="m-0">Satisfied Customer</p>
            </div>
            <div class="testimonial-item text-center">
                <div class="testimonial-text bg-light text-center p-4 mb-4">
                    <p class="mb-0">"As a customer of Taut Secure, I can confidently say that their commitment to delivering top-notch security solutions is unparalleled. They exceeded my expectations in every way. Thank you for keeping us safe and secure!"</p>
                </div>
                <img class="bg-light rounded-circle p-2 mx-auto mb-2" src="./images/user.png" style="width: 80px; height: 80px;">
                <div class="mb-2">
                    <small class="fa fa-star icon"></small>
                    <small class="fa fa-star icon"></small>
                    <small class="fa fa-star icon"></small>
                    <small class="fa fa-star icon"></small>
                    <small class="fa fa-star icon"></small>
                </div>
                <h5 class="mb-1">Sara Malik</h5>
                <p class="m-0">Satisfied Customer</p>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
    



    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    